.pass-show-up-page {
    height : 100% ;
    width : 40% ;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease;
    position: absolute;
    top: 0;
    right:0;
    z-index: 9;
    & > .psp-up {
        display : flex ;
        justify-content: space-between ;
        align-items: center;
        padding : 10px 0 10px 0 ;
        border-bottom: 1px solid #ccc;
        & > .details {
            display : flex ;
            flex-direction : column ;
            gap : 5px ;
        }
        & > .options {
            display : flex ;
            gap : 5px ;
            & > * {
                padding : 5px ;
                font-size: 24px;
                margin : auto ;
                cursor: pointer;
                &:hover {
                    color: #007bff;
                }
            }
        }
    }
    & > .psp-main {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        .psp-pass-id {
            display: none;
        }
        & > * {
            display: flex;
            gap : 20px ;
            .show-up-toggle {
                cursor: pointer;
                font-size: 24px;
                margin : auto ;
            }
            & > .label {
                width : 30% ;
                color: #2c3e50;
                text-align : right ;
            }
            & > .value {
                width : 70% ;
                color: #34495e;
                text-align : left ;
            }
        }
    }
    & > .psp-master-pass {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        transition: all 0.3s ease;
        &.hide {
            opacity : 0;
            width: 0;
            height : 0 ;
            padding: 0;
            margin: 0;
            border: 0;
        }
        & > input {
            width : 70% ;
            padding: 12px 15px;
            margin-bottom: 15px;
            border: none;
            border-bottom: 1px solid #ccc;
            background-color: transparent;
            &:focus {
                border-color: #007bff;
                outline: none;
            }
        }
        & > button {
            padding : 5px 10px ;
            background-color: #70d8f1;
            color: #2c3e50;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 1rem;
            transition: background-color 0.3s ease;
            &:hover {
                background-color: #4fc5e9;
            }
        }
    }
}
.pass-show-up-page.show {
    transform: translateX(0);
}